<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href = 'Static/css/style.css'>
    <link rel="stylesheet" href = "{{url_for('static', filename='css/style.css')}}">


    <title>My Blog</title>
</head>
<body>


    <nav class="navigation">
        Mav Goel
        <ul class="list-non-bullet nav-pills">
      <li class="list-inline link-active"><a class="link" href="index.html">  Home |</a></li>
     <li class="list-inline"><a class="link" href="projects.html ">projects |</a></li>
      <li class="list-inline"><a class="link" href="blog.html">Blog </a></li>
    </ul>
    </nav>
   <h1 id = 'Blog'> My Blog </h1> 



   <img src="6972338-99251269316_13-s5-v1.png" alt = 'Mav Goel' width = '400px' height = '400px'/>

   
</body>
<footer id ="footer">
  <div id ="footer-header"><h2>You can find me here:</h2></div>
  <ul class="social links list-non-bullet">
      <li class="list-inline"><a class="link" href="https://www.instagram.com/mav_goel/">instagram</a></li>
      <li class="list-inline"><a class="link" href="https://www.youtube.com/c/Madhav Goel/">Youtube</a></li>
  </ul>
 
</footer>
</html>